.project
*.log
*/logs/*
*/node-log.log
!.gitignore
node_modules/*
.project
.settings/
.idea
*.svn
~$*
*.sublime-project
*.sublime-workspace
*.swp
.DS_Store
bin
project.xcworkspace/
*/xcuserdata/*
xcuserdata/
kod_client/*.lua
kod_client/app/
kod_client/kod_client
kod_client/libs/
kod_client/log
build